@tailwind base;
@tailwind components;
@tailwind utilities;



@media only screen and (min-width: 640px) {
  .child-container {
    height: 200px;
    overflow: auto;
    text-align:justify;
    position: relative;
  }
}