@tailwind base;
@tailwind components;
@tailwind utilities;

.menuItem {
  position: relative;
}
.menuItem.active::before {
  content: url("/public/icons/iKing1.svg");
  position: absolute;
  top: -18px;
  right: -13px;
}
.menuItem.active::after {
  content: '';
  position: absolute;
  bottom: -80px;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 80px solid #faf3ec;
  transform: rotate(0);
}
.card-afiliasi {
  position: relative;
}
.card-afiliasi::before {
  content: url("/public/icons/IKing2.svg");
  position: absolute;
  top: 30px;
  right: 10px;
}
.tab-item {
  position: relative;
}
.tab-item.active::before {
  content: url("/public/icons/IKing3.svg");
  position: absolute;
  top: -16px;
  left: 4px;
}
.card-wallet {
  position: relative;
  overflow: hidden;
}
.card-wallet_content {
  position: relative;
  z-index: 9;
}
.card-wallet::before {
  content: "";
  width: 198px;
  height: 198px;
  border-radius: 50%;
  position: absolute;
  top: -90px;
  left: -70px;
  background-color: #ff9f5a7d;
}
.card-wallet::after {
  content: "";
  width: 198px;
  height: 198px;
  border-radius: 50%;
  position: absolute;
  top: -70px;
  left: -40px;
  border: 3px solid #ff9f5a7d;
}
.container {
  position: relative;
}
.container::before {
  content: url("/public/icons/IKing4.svg");
  position: absolute;
  top: 0;
  right: 450px;
}
.container-sign {
  position: relative;
}
.container-sign::before {
  content: url("/public/icons/IKing4.svg");
  transform: scale(2);
  position: absolute;
  bottom: 20px;
  left: 40px;
  opacity: 0.6;
}

.cool-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dot {
  width: 16px;
  height: 16px;
  background-color: #FF720D;
  border-radius: 50%;
  animation: bounce 1.5s infinite ease-in-out;
}

.dot1 {
  animation-delay: 0.1s;
}

.dot2 {
  animation-delay: 0.3s;
}

.dot3 {
  animation-delay: 0.5s;
}

.dot4 {
  animation-delay: 0.7s;
}
.input-start_date, .input-end_date  {
  position: relative;
  width: 100%;
}
.input-start_date::before {
  content: "Dari Tanggal";
  position: absolute;
  top: -8px;
  left: 6px;
  z-index: 99;
  background-color: white;
  padding: 0 10px;
  font-size: 0.75em;
  color: #a8a8a8;
  font-weight: 500;
}
.input-end_date::before {
  content: "Sampai Tanggal";
  position: absolute;
  top: -8px;
  left: 6px;
  z-index: 99;
  background-color: white;
  padding: 0 10px;
  font-size: 0.75em;
  color: #a8a8a8;
  font-weight: 500;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

@media only screen and (max-width: 340px) {
  .child-container {
    height: 1800px;
    height: auto;
    overflow: visible;
  }
}
@media only screen and (min-width: 640px) {
  .child-container {
    overflow: auto;
    text-align:justify;
    position: relative;
    max-height: 27rem;
  }
}
@media only screen and (min-width: 1883px) {
  .child-container {
    max-height: 41rem;
  }
  
}